html, body {
  height: 100%; 
  background-color: #fafbfd;
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafbfd;
}

a:hover {
  text-decoration: none;
}

.option-card {
  width: 40%;
  background-color: #e8eaed;
  padding: 8px;
}

.swap-button {
  position: absolute;
  left: 48.95%;
  color: #3f51b5;
  z-index: 999;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.hljs {
  padding: 0px;
  background: #ffffff;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

.hljs-ln-n {
    font-weight: bold;
}

fieldset {
    margin: 8px;
    padding: 4px;
    height: 68px;
    float: left;
    display: inline;
    white-space: nowrap;
}


fieldset input {
    margin: 4px;
    padding: 4px;
}


svg {
    overflow: hidden;
    background: #ffffff;
    /* -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow   : 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow        : 4px 4px 8px rgba(0,0,0,0.5); */
}


svg .vtree-node text {
    cursor: pointer;
}


svg circle.vtree-dummy {
    cursor: pointer;
    stroke: steelblue;
    stroke-width: 2px;
    fill: white;
}


svg .vtree-node text {
    font: 14px sans-serif;
}


svg .vtree-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


svg .vtree-table {
    stroke-width: 2px;
    stroke: steelblue;
}


svg path.vtree-table {
    fill: white;
    cursor: pointer;
}


.vtree-tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

@media (min-width: 470px) {
  .option-card {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .swap-button {
    left: 45.8%;
    top: 91px;
  }
}

@media (min-width: 576px) {
  .option-card {
    width: 100%;
    margin-bottom: 0px;
  }

  .swap-button {
    left: 46.4%;
    top: 45px;
  }
}

@media (min-width: 632px) {
  .option-card {
    width: 100%;
    margin-bottom: 0px;
  }

  .swap-button {
    left: 46.7%;
    top: 45px;
  }
}

@media (min-width: 690px) {
  .option-card {
    width: 100%;
    margin-bottom: 0px;
  }

  .swap-button {
    left: 47%;
    top: 45px;
  }
}

@media (min-width: 760px) {
  .option-card {
    width: 100%;
  }

  .swap-button {
    left: 47.28%;
  }
}

@media (min-width: 768px) {
  .option-card {
    width: 78%;
  }

  .swap-button {
    left: 47.3%;
  }
}

@media (min-width: 958px) {
  .option-card {
    width: 70%;
  }

  .swap-button {
    left: 47.95%;
  }
}

@media (min-width: 992px) {
  .option-card {
    width: 70%;
  }

  .swap-button {
    left: 47.95%;
  }
}

@media (min-width: 1100px) {
  .option-card {
    width: 70%;
  }

  .swap-button {
    left: 48.1%;
  }
}

@media (min-width: 1200px) {
  .option-card {
    width: 55%;
  }

  .swap-button {
    left: 48.25%;
  }
}

@media (min-width: 1900px) {
  .option-card {
    width: 40%;
  }

  .swap-button {
    left: 48.94%;
  }
}