<toolbar></toolbar>
<div style="padding: 10px;">
  <options></options>
  <div style="height: 10px;"></div>
  <mat-card>
    <div class="row">
      <div class="col-lg-6">
        <input-code [code]="inputCode" [language]="inputLanguage?.name" [highlightCode]="highlightIntputCode"
          [editCode]="editInput" [converting]="converting" (modeChanged)="inputModeChanged($event)"
          (inputFileNodeChanged)="inputFileNodeChanged($event)" (editCodeChanged)="inputCodeEditChange()"
          (codeChange)="inputCodeChange($event)" [extension]="inputLanguage?.extension">
        </input-code>
      </div>
      <div class="col-lg-6">
        <output-code [code]="outputCode" [language]="outputLanguage?.name" [highlightCode]="highlightOutputCode"
          [mode]="mode" [ast]="astData" [summary]="summary" [summaryProbability]="summaryProbability"
          [converting]="converting" [rootNode]="outputFileNode" [extension]="outputLanguage?.extension" [translated]="converted">
        </output-code>
      </div>
    </div>
  </mat-card>
</div>