<div class="parent">
    <div class="node-parent" [ngClass]="{'active': active && !rootNode.childs}">
        <div class="node-name">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <button mat-icon-button (click)="selectNode(rootNode)" style="display: inline;">
                                <mat-icon>{{getIcon()}}</mat-icon>
                            </button>
                        </td>
                        <td (click)="selectNode(rootNode)">{{rootNode.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="rootNode.childs && expanded" class="child-nodes">
        <nct-tree [rootNode]="node" [active]="node.active" *ngFor="let node of rootNode.childs" (nodeSelected)="childNodeSelected($event)"></nct-tree>
    </div>
</div>