<div style="box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);">
    <mat-toolbar color="primary">
        <button mat-icon-button>
            <mat-icon>multiple_stop</mat-icon>
        </button>
        <h2>Neural Code Translator</h2>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button #tooltip="matTooltip" matTooltip="About" matTooltipHideDelay="100">
            <mat-icon>info</mat-icon>
        </button>
    </mat-toolbar>
</div>