<h2 mat-dialog-title>Neural Code Translator (NCT)</h2>
<mat-dialog-content class="mat-typography">

    <h3>Cognizant GIC Hackathon 2020</h3>
    <p><strong>Team Name:</strong> CS-Autograds</p>
    
    <strong>Contributors:</strong>
    <ul>
        <li>Rishu Shrivastava</li>
        <li>Harish Pandya</li>
        <li>Prateek Panda</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>